*{
    background-color: grey;
}
.title {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.main-div {
    display: flex;
    justify-content: space-around;
}

.main-div > div {
    display: flex;
    flex-direction: column;
}

.player-box, .cp-box {
    padding: 10px;
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.player-box img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
    padding: 20px;
}


.cp-box img {
    width: 30vw;
    height: 40vh;
    transform: scaleX(-1);
    object-fit: cover;
    padding: 20px;
  }


.picks {
    display: flex;
    justify-content: space-around;
}

.picks > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.5;
    transition: 1s ease;
}
.rock-container img {
    width: 15vw;
    height: 15vh;
    object-fit: contain;
    padding: 20px;
}

.rock-container:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 1s ease;
}

.paper-container img {
    width: 15vw;
    height: 15vh;
    object-fit: contain;
    padding: 20px;
}

.paper-container:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 1s ease;
}

.scissor-container img {
    width: 15vw;
    height: 15vh;
    object-fit: contain;
    padding: 20px;
}

.scissor-container:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 1s ease;
}

